@import 'https://fonts.googleapis.com/css?family=Nova+Square';
body {
  background-color: skyblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: blue;
  font-family: Nova Square;
}
p {
  color: blue;
  font-family: Nova Square;
}
