@import 'https://fonts.googleapis.com/css?family=Nova+Square';
body {
  background-color: skyblue;
}
h1 {
  color: blue;
  font-family: Nova Square;
}
p {
  color: blue;
  font-family: Nova Square;
}
